#iframe-container {
    z-index: -1;
}

#logo-button {
    z-index: 0;
    position: fixed; 
    bottom: 0; 
    right: 0;
    cursor: pointer;
}

#comments {
    position: fixed;
    right: 0; 
    bottom: 0; 
    background-color: white;
    width: 20%; 
    max-width: 400px;
    height: 100%; 
}